@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-primary text-white text-center py-4 rounded-top">
                    <h2 class="mb-0">@ViewData["Title"]</h2>
                </div>
                <div class="card-body px-5 py-4">
                    
                     <p style="margin-bottom:9px; color:#181C32; font-size: 20px; font-weight:500">Thank you for signing up!</p>
                      <p style="margin-bottom:2px; color:#7E8299">@Model.StatusMessage</p>

                    <div class="text-center mt-3">
                        <a asp-page="./Login" class="text-decoration-none">Go to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 