
.book-card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}

    .book-card:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    .book-card img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0) 90%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; 
}

.book-card:hover .card-overlay {
    opacity: 1;
}

.card-footer {
    z-index: 2; 
    position: relative;
}

.add-to-cart-btn,
.btn-accent {
    z-index: 3; 
    position: relative;
}
